.eco{
  background-color: #F8F8F8;
  max-width: 1920px;
  margin: auto;
  padding: 120px 0 90px 0;
  @media all and (max-width: 1920px){
    padding: px(120) 0 px(90) 0;
  }
  @media all and (max-width: 1024px){
    padding: px(80) 0 px(80) 0;
  }
  @media all and (max-width: 500px){
    padding: px(40) 0 px(40) 0;
  }
  &__container{

  }
  &__title{
    text-align: center;
    margin-bottom: 56px;
    @media all and (max-width: 1920px){
      margin-bottom: px(56);
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item{
    width: calc(25% - 30px);
    padding-left: 20px;
    position: relative;
    @media all and (max-width: 1920px){
      width: calc(25% - px(30));
      padding-left: px(20);
    }
    @media all and (max-width: 1024px){
      width: calc(50% - px(30));
      margin-bottom: px(40);
    }
    @media all and (max-width: 768px){
      width: 100%;
      padding-left: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &:before{
      position: absolute;
      top: 48px;
      height: calc(100% - 82px);
      content: "";
      display: block;
      width: 2px;
      left: 0;
      background-color: #0EB83D;
      @media all and (max-width: 1920px){
        top: px(48);
        height: calc(100% - px(82));
      }
      @media all and (max-width: 768px){
        display: none;
      }
    }
    &-title{
      font-size: 46px;
      font-weight: 600;
      margin-bottom: 36px;
      @media all and (max-width: 1920px){
        font-size: px(46);
        margin-bottom: px(36);
      }
      @media all and (max-width: 768px){
        font-size: px(26);
        text-align: center;
        margin-bottom: px(14);
      }
      span{
        font-size: 80px;
        @media all and (max-width: 1920px){
          font-size: px(80);
        }
        @media all and (max-width: 1920px){
          font-size: px(70);
        }
        @media all and (max-width: 768px){
          font-size: px(50);
        }
      }
    }
    &-desc{
      @media all and (max-width: 768px){
        text-align: center;
        br{
          display: none;
        }
      }
    }
  }
}