.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 20px rgba(169, 190, 202, 0);
  transition: 0.3s ease-in-out;
  z-index: 50;
  height: auto;
  &__abs{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px 0;
    @media all and (max-width: 1920px){
      padding: px(40) 0;
    }
    @media all and (max-width: 1024px){
      padding: px(20) 0;
    }
    &:before{
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 8, 22, 0.62);
      backdrop-filter: blur(27px);
      @media all and (max-width: 1920px){
        backdrop-filter: blur(px(27));
      }
    }
  }
  &__container{
    display: flex;
    align-items: center;
    position: relative;
    @media all and (max-width: 1024px){
      justify-content: space-between;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    transition: $transition;
    @media all and (max-width: 1024px){
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(200%);
      width: px(440);
      background-color: rgba(0,0,0,0.8);
      height: 100vh;
      z-index: 100;
      padding-bottom: px(80);
    }
    @media all and (max-width: 500px){
      width: 100%;
    }
    &.active{
      @media all and (max-width: 1024px){
        display: flex;
        transform: translateX(0);
      }
    }
  }
  &__logo{
    width: 267px;
    margin-right: 80px;
    @media all and (max-width: 1920px){
      width: px(267);
      margin-right: px(80);
    }
    @media all and (max-width: 1024px){
      width: px(240);
      margin-right: 0;
    }
    @media all and (max-width: 768px){
      width: px(220);
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &__get{
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    @media all and (max-width: 1920px){
      margin-left: px(40);
    }
    span{
      font-size: 20px;
      color: #FFF;
      @media all and (max-width: 1920px){
        font-size: px(20);
      }
      @media all and (max-width: 1440px){
        font-size: px(18);
      }
      @media all and (max-width: 1024px){
        font-size: px(26);
      }
    }
    svg{
      margin-left: 20px;
      @media all and (max-width: 1920px){
        margin-left: px(20);
      }
    }
  }
  &__burger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    height: auto;
    @media all and (max-width: 1024px){
      display: flex;
    }
    svg{
      display: none;
    }
    &.active{
      span{
        display: none;
      }
      svg{
        display: block;
      }
    }
    span{
      display: block;
      height: 2px;
      background-color: #000000;
      margin: 10px 0;
      width: 60px;
      @media all and (max-width: 1920px){
        margin: px(10) 0;
        width: px(60);
      }
      @media all and (max-width: 1024px){
        width: px(40);
        margin: px(6) 0;
      }
      @media all and (max-width: 500px){
        width: px(30);
        margin: px(4) 0;
      }
    }
  }
  &__nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    position: relative;
    @media all and (max-width: 1920px){
      margin-right: px(80);
    }
    @media all and (max-width: 1024px){
      position: relative;
      width: 100%;
      margin-right: 0;
    }
    &-close{
      display: none;
      position: absolute;
      top: px(20);
      right: px(20);
      width: px(40);
      height: px(40);
      @media all and (max-width: 1024px){
        display: block;
      }
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      justify-content: center;
      @media all and (max-width: 1024px){
        flex-direction: column;
      }
      li{
        margin: 0 24px;
        @media all and (max-width: 1920px){
          margin: 0 px(24);
        }
        @media all and (max-width: 1440px){
          margin: 0 px(18);
        }
        @media all and (max-width: 1024px){
          margin: px(20) 0;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #FFF;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: normal;
          text-decoration: none;
          @media all and (max-width: 1920px){
            font-size: px(20);
          }
          @media all and (max-width: 1440px){
            font-size: px(18);
          }
          @media all and (max-width: 1024px){
            font-size: px(26);
          }
        }
      }
    }
  }
  &__button{

  }
  &__call{
    margin-left: 40px;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    @media all and (max-width: 1920px){
      font-size: px(20);
      margin-left: px(40);
    }
    @media all and (max-width: 1440px){
      font-size: px(18);
    }
    @media all and (max-width: 1024px){
      font-size: px(26);
    }
  }
  &__language{
    margin-left: 40px;
    @media all and (max-width: 1920px){
      margin-left: px(40);
    }
    @media all and (max-width: 1440px){
      margin-left: px(30);
    }
    @media all and (max-width: 1024px){
      margin-left: 0;
      margin-top: 5vh;
    }
    ul{
      display: flex;
      align-items: center;
    }
    li{
      &:first-child{
        a{
          border-right: 1px solid #FFF;
          padding-left: 0;
        }
      }
      &:last-child{
        a{
          border-right: none;
          padding-right: 0;
        }
      }
      &.active{
        a{
          span{
            font-weight: 800;
          }
        }
      }
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 14px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      padding-right: 14px;
      @media all and (max-width: 1920px){
        padding-left: px(14);
        padding-right: px(14);
      }
      span{
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        @media all and (max-width: 1920px){
          font-size: px(20);
        }
        @media all and (max-width: 1440px){
          font-size: px(18);
        }
      }
    }
  }
}